html,
body {
  height: 100%;
  background-color: rgb(41, 45, 62);
  /* background-color: #435a6b; */
}
body {
  /* color: #ecf0f1; */
  color: rgb(191, 199, 213);
  text-align: center;
}

/* Links */
b,
a,
a:focus,
a:hover {
  color: #09d3ac;
}
